# 快捷键配置
# 可用变量: {name} 全名, {surname} 姓, {given_name} 名
#
# 使用说明：
# 1. 复制此文件为 replies.yaml
# 2. 根据需要修改回复内容
#
hotkeys:
  "alt+1":
    name: "长辈/亲戚"
    replies:
      - "{surname}阿姨/叔叔新年好！祝您身体健康，万事如意！"
      - "过年好！祝您和家人新春快乐，阖家幸福！"
      - "谢谢{name}！也祝您马年大吉，心想事成！"

  "alt+2":
    name: "朋友/同辈"
    replies:
      - "{name}新年好！马年大吉啊！"
      - "过年好！新的一年多多约饭！"
      - "新年快乐！祝你新的一年一切顺利！"

  "alt+3":
    name: "同事/工作伙伴"
    replies:
      - "{name}新年好！祝新的一年工作顺利！"
      - "过年好！新的一年多多合作！"
      - "谢谢！也祝您新春快乐，万事如意！"

  "alt+4":
    name: "同学/好友"
    replies:
      - "老{given_name}！新年好啊！"
      - "{name}！过年好！啥时候聚聚？"
      - "新年快乐！新的一年继续一起浪！"

  "alt+5":
    name: "通用/简单"
    replies:
      - "谢谢，也祝您新春快乐！"
      - "新年快乐，马年大吉！"
      - "过年好！"
